html,
body {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* box-shadow: 0; */
}

#root,
.App {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.board {
  width: 702px;
  height: 702px;
}

.board .black {
  background: black
}

.board .white {
  background: white
}

.board-row {
  height: 54px;
}

.board-cell {
  height: 100%;
  width: 54px;
  display: inline-block;
  /* border: 1px solid black; */
  background: burlywood;
  box-shadow: inset 0px 0px 0px 1px black;
}

/* .board td {
  display: flex;
  background: burlywood;
  border: 1px solid black;
  width: 54px;
  height: 54px;
}

.board td:hover {
  cursor: pointer;
} */

.stone {
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 50%;
}